body {
    font-family: Arial, sans-serif;
    margin: 0; /*Сброс стандартных стилей браузера*/
    padding: 0;
    background-color: #000000;

   
}

.generative_balls {
    text-align: center;
}

header {

    background-color: #000000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    .myclass {
        font-size: 30px;
    }
    .textcolor01{
        color: blue;
    }

    h1 {
        text-align: center;
        
    }
}



main {
    padding: 1em;
    color: rgb(255, 255, 255);
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
